@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    width: 100%;
}

a{
    color: #111;
    text-decoration: none;
}

ion-icon{
    color: #111;
}

li{
    list-style: none;
}

.container{
    width: 100%;
    height: auto;
    background: #111;
}

/*NAV TOP*/

.nav-top{
    width: 100vw;
    height: 80px;
    background: #5882FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img{
    max-width: 100%;
    height: 50px;
}

.user{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user .log-out{
    cursor: pointer;
    font-size: 2.5em;
}

.user-settings{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-description{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 2em;
    transition: 0.5s;
    visibility: hidden;
}

.settings-description li{
    visibility: hidden;
    list-style: none;
    font-size: 1.5em;
} 

.settings-description.active{
    transform: translateY(125px);
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 2em;
    visibility: visible;
}

.settings-description.active li{
    padding: 15px;
    font-weight: 700;
    color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: visible;
}

.toggle{
    font-size: 2.5em;
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
}

/*NAV LEFT*/

.nav-left{
    width: 60px;
    height: auto;
    background: #5882FA;
    padding: 25px 15px;
}

.nav-left div{
    font-size: 2em;
    margin-bottom: 25px;
}

/*SEARCH GRAPHICS SECTION*/

.search-section{
    
    display: flex;
    justify-content: start;
    align-self: center;
    margin: 25px;
    background: #202530;
    text-align: center;
    color: #fff;
}

.search-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.search-section div:nth-child(1){
    margin-left: 35px;
}

.search-section div:nth-child(2) p, .search-section div:nth-child(3) p{
    padding-right: 10px;
}

/*GRAPHICS STYLES*/

.measurer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
    background: #202530;
    margin: 25px;
}

.measurer .card{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}

.percent .number h2 span{
    font-size: 24px;
    color: #fff;
}

.card:hover .percent .number h2 span{
    color: #fff;
    transition: 0.5s;
}

.text{
    position: relative;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text{
    color: #fff;
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--i)) / 100);
    stroke: #00a1ff;
}

.measurer p{
    padding-bottom: 15px;
}

.graphics-title{
    color: #fff;
}

.graphics{
    width: 100%;
    height: auto;
    background: #202530;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: .5em;
    row-gap: .5em;
    text-align: end;
}

/*FORMULARIO STYLES*/

.form{
    width: 100%;
    height: 100vh;
    padding: 25px;
    background: #090B0F;
    color: #fff;
}

.button-container{
    width: auto;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    width: 250px;
    height: 250px;
    padding: 1em;
    margin: 3em;
    background: #202530;
    text-align: center;
    border-radius: 2em;
}

.button h2{
    padding-bottom: 1em;
}

.icon ion-icon{
    cursor: pointer;
    font-size: 10em;
    color: #fff;
}

.title{
    display: flex;
    justify-content: center;
}

.back{
    padding-right: 25px;
    cursor: pointer;
}

.back ion-icon{
    font-size: 1.5em;
    color: #fff;
}

/*ACCOUNT*/

.cards{
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    text-align: center;
    border-radius: 2em;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-asesor{
    cursor: pointer;
}
